<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_TEMP" value="./logs"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="dailyRollingFileAppender"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <prudent>true</prudent>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/application-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>

    <encoder>
      <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework.web" level="DEBUG"/>
  <logger name="org.thymeleaf" level="DEBUG"/>
  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.quartz.core" level="DEBUG"/>
  <logger name="kr.pravusid" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="dailyRollingFileAppender"/>
  </root>
</configuration>
