<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes :: header"></head>

<body>

<div th:replace="includes :: navi"></div>

<div class="container">
  <div class="row">
    <h1>회원 가입</h1>
  </div>
  <div class="row">
    <form class="col s12" action="/user" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="userId" name="userId" type="text" class="validate">
          <label for="userId">사용자 아이디</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="validate">
          <label for="name">이름</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate">
          <label for="email">이메일</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">회원가입
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>

<div th:replace="includes :: footer"></div>

</body>
</html>